table {
	border: 2px solid black;
}

td {
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
}

input {
	padding: 0;
	border: 0;
	width: 48px;
	height: 48px;
	
	text-align: center;
	font-size: 24px;
	outline: none;
}

input:disabled {
	font-weight: bold;
}

#borderRight {
	border-right: 2px solid #000000;
}

#borderBottom {
	border-bottom: 2px solid #000000;
}

#borderLeft {
	border-left: 2px solid #000000;
}

#borderTop {
	border-top: 2px solid #000000;
}